.text-shadow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  transition: text-shadow 0.3s ease-in-out;
}

.cursive-dancing {
  font-family: 'Dancing Script', cursive;
}

.cursive-vibes {
  font-family: 'Great Vibes', cursive;
}


.cursive-pacifico {
  font-family: 'Pacifico', cursive;
}

.cursive-italianno {
  font-family: 'Italianno', cursive;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Scrollbar track */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}


::-webkit-scrollbar-thumb {
  background: #62c7af; /* Tailwind blue-300 */
  border-radius: 10px;
  transition: background 0.3s ease;
}


::-webkit-scrollbar-thumb:hover {
  background: #62c7af;
}


.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-hide:hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide:hover {
  scrollbar-width: thin;
  scrollbar-color: #62c7af transparent;
}

.gradient-header {
  background: #e2f1ec;
  background: -webkit-linear-gradient(to right, #e2f1ec, #75dfa5);
  background: linear-gradient(to right, #e2f1ec, #75dfa5);
  color: white;
}