.hover-white-shadow:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
}
.white-text-shadow {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
}
.bg-button{
  background: #AAFFA9;
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
  background: linear-gradient(to right, #11FFBD, #AAFFA9);
}
.text-color {
  background: linear-gradient(to right, #11FFBD, #AAFFA9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.text-gradient-hover {
  transition: all 0.3s ease-in-out;
}

.text-gradient-hover:hover {
  background: linear-gradient(to right, #11FFBD, #AAFFA9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}